.c-target {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #dedede;
  transform: translateX(-100%);
  margin-left: 50%;

  &--1 {
    top: 500px;
  }

  &--2 {
    top: 800px;
  }
}